<% content_for(:title, "Latasha Wanjira") %>

<div id="landing-page">
	<div class="landing-page-text">
		<h3 class="animated fadeInDown">Welcome to my life!</h3>
		<h4 class="animated fadeInLeft">Frontend Web Developer / Fullstack Web Developer / 3D Animator</h4>
		<h1 class="animated fadeInUp">Latasha Wanjira</h1>
		<a href="http://twitter.com/the_wanjira" class="icon twitter"><i class="ion-social-twitter"></i><span></span></a>

		<a href="http://github.com/latashawanjira" class="icon github"><i class="ion-social-github"></i><span></span></a>

		<a href="http://linkedin.com" class="icon linkedin"><i class="ion-social-linkedin"></i><span></span></a>
	</div>
</div>